<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31289751950-iii4a10v5h1rb0bmdc3cdqsn8bpk8pdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31289751950-iii4a10v5h1rb0bmdc3cdqsn8bpk8pdt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>31289751950-omdrfu9aipsq6eerlcdml49qk9mofm2i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4S0XYHgrNaUE_yFExdMTL667Nwp8Hi0c</string>
	<key>GCM_SENDER_ID</key>
	<string>31289751950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reiffer.cinematch</string>
	<key>PROJECT_ID</key>
	<string>cinematch-46c3a</string>
	<key>STORAGE_BUCKET</key>
	<string>cinematch-46c3a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31289751950:ios:573953af22af89c51b8cdf</string>
</dict>
</plist>